<script setup lang="ts">

const emit = defineEmits<{
    (e: 'feature', feature: number): void
}>()


function addField(item: any) {
    //console.log(i)
    emit('feature', item);
}

const field_type = [
    { field_id: 1, field_group: "Text", text: 'Short Answer', icon: 'mdi-text-short ' },
    { field_id: 2, field_group: "Text", text: 'Paragraph', icon: 'mdi-text-long ' },
    { field_id: 3, field_group: "Text", text: 'Remark', icon: 'mdi-format-text-rotation-none ' },
    { field_id: 4, field_group: "Form", text: 'Title and Description', icon: 'mdi-format-title ' },
    { field_id: 5, field_group: "Form", text: 'Page Break', icon: 'mdi-format-page-break ' },
    { field_id: 6, field_group: "List", text: 'Multiple Choice', icon: 'mdi-radiobox-marked' },
    { field_id: 7, field_group: "List", text: 'Checkboxes', icon: 'mdi-checkbox-marked ' },
    { field_id: 8, field_group: "List", text: 'Dropdown', icon: 'mdi-arrow-down-drop-circle' },
    { field_id: 9, field_group: "Yes/No", text: 'Yes No', icon: 'mdi-close-box-outline ' },
    { field_id: 10, field_group: "Yes/No", text: 'Switch', icon: 'mdi-toggle-switch-off ' },
    { field_id: 11, field_group: "Date/Time", text: 'Date Time', icon: 'mdi-calendar-range ' },
    { field_id: 12, field_group: "Multimedia", text: 'Embedded image', icon: 'mdi-camera-plus ' },
]

const text = [
    { field_id: 1, field_group: "Text", text: 'Short Answer', icon: 'mdi-text-short ' },
    { field_id: 2, field_group: "Text", text: 'Paragraph', icon: 'mdi-text-long ' },
    { field_id: 3, field_group: "Text", text: 'Remark', icon: 'mdi-format-text-rotation-none ' },
]
const form = [
    { field_id: 4, field_group: "Form", text: 'Title and Description', icon: 'mdi-format-title ' },
    { field_id: 5, field_group: "Form", text: 'Page Break', icon: 'mdi-format-page-break ' }
]
const list = [
    { field_id: 6, field_group: "List", text: 'Multiple Choice', icon: 'mdi-radiobox-marked' },
    { field_id: 7, field_group: "List", text: 'Checkboxes', icon: 'mdi-checkbox-marked ' },
    { field_id: 8, field_group: "List", text: 'Dropdown', icon: 'mdi-arrow-down-drop-circle' }
]
const yesno = [
    { field_id: 9, field_group: "Yes/No", text: 'Yes No', icon: 'mdi-close-box-outline ' },
    { field_id: 10, field_group: "Yes/No", text: 'Switch', icon: 'mdi-toggle-switch-off ' },
]
const date = [
    { field_id: 11, field_group: "Date/Time", text: 'Date Time', icon: 'mdi-calendar-range ' },
]
const multimedia = [
    { field_id: 12, field_group: "Multimedia", text: 'Embedded image', icon: 'mdi-camera-plus ' },
]

</script>

<template>
    <v-card elevation="4" class="rounded-lg scroll-y">
        <v-flex lg12>
            <v-toolbar flat color="primary">
                <v-toolbar-title style="font-size: 22px">
                    Feature
                </v-toolbar-title>
            </v-toolbar>
            <!-- // list -->
            <!-- Textfield_type -->
            <v-list dense>
                <!-- <v-list-group v-for="(item, i) in field_type" :value="item.field_group" color="primary">
                <template v-slot:activator="{ props }">
                    <v-list-item-content>
                        <v-list-item v-bind="props" :title="item.field_group"> </v-list-item>
                    </v-list-item-content>
                </template>
                <v-list-item :prepend-icon="item.icon" link @click="load(item.field_id)">
                    <v-list-item-title :title="item.text">
                        {{ item.text }}
                    </v-list-item-title>
                </v-list-item>
            </v-list-group> -->

                <v-list-group :value="true" color="primary">
                    <template v-slot:activator="{ props }">
                        <v-list-item-content>
                            <v-list-item v-bind="props" title="Text"></v-list-item>
                        </v-list-item-content>
                    </template>
                    <v-list-item v-for="(item, i) in text" :key="i" :prepend-icon="item.icon" link
                        @click="addField(item)">
                        <v-list-item-title :title="item.text">
                            {{ item.text }}
                        </v-list-item-title>
                    </v-list-item>
                </v-list-group>
            </v-list>
            <!-- form -->
            <v-list dense>
                <v-list-group :value="true" color="primary">
                    <template v-slot:activator="{ props }">
                        <v-list-item-content>
                            <v-list-item v-bind="props" title="Form"></v-list-item>
                        </v-list-item-content>
                    </template>
                    <v-list-item v-for="(item, i) in form" :key="i" :prepend-icon="item.icon" link
                        @click="addField(item)">
                        <v-list-item-title :title="item.text">
                            {{ item.text }}
                        </v-list-item-title>
                    </v-list-item>
                </v-list-group>
            </v-list>
            <!-- list -->
            <v-list dense>
                <v-list-group :value="true" color="primary">
                    <template v-slot:activator="{ props }">
                        <v-list-item-content>
                            <v-list-item v-bind="props" title="List"></v-list-item>
                        </v-list-item-content>
                    </template>
                    <v-list-item v-for="(item, i) in list" :key="i" :prepend-icon="item.icon" link
                        @click="addField(item)">
                        <v-list-item-title :title="item.text">
                            {{ item.text }}
                        </v-list-item-title>
                    </v-list-item>
                </v-list-group>
            </v-list>
            <!-- Yes No -->
            <v-list dense>
                <v-list-group :value="true" color="primary">
                    <template v-slot:activator="{ props }">
                        <v-list-item-content>
                            <v-list-item v-bind="props" title="Yes/No"></v-list-item>
                        </v-list-item-content>
                    </template>
                    <v-list-item v-for="(item, i) in yesno" :key="i" :prepend-icon="item.icon" link
                        @click="addField(item)">
                        <v-list-item-title :title="item.text">
                            {{ item.text }}
                        </v-list-item-title>
                    </v-list-item>
                </v-list-group>
            </v-list>
            <!-- Date/Time -->
            <v-list dense>
                <v-list-group :value="true" color="primary">
                    <template v-slot:activator="{ props }">
                        <v-list-item-content>
                            <v-list-item v-bind="props" title="Date/Time"></v-list-item>
                        </v-list-item-content>
                    </template>
                    <v-list-item v-for="(item, i) in date" :key="i" :prepend-icon="item.icon" link
                        @click="addField(item)">
                        <v-list-item-title :title="item.text">
                            {{ item.text }}
                        </v-list-item-title>
                    </v-list-item>
                </v-list-group>
            </v-list>
            <!-- Multimedia -->
            <v-list dense>
                <v-list-group :value="true" color="primary">
                    <template v-slot:activator="{ props }">
                        <v-list-item-content>
                            <v-list-item v-bind="props" title="Multimedia"></v-list-item>
                        </v-list-item-content>
                    </template>
                    <v-list-item v-for="(item, i) in multimedia" :key="i" :prepend-icon="item.icon" link
                        @click="addField(item)">
                        <v-list-item-title :title="item.text">
                            {{ item.text }}
                        </v-list-item-title>
                    </v-list-item>
                </v-list-group>
            </v-list>
        </v-flex>
    </v-card>
</template>

