<script setup lang="ts">
import { readonly, ref, defineComponent } from "vue";
import Feature from '@/screens/form/feature/index.vue'
import Content from '@/screens/form/content/index.vue'
import Properties from '@/screens/form/properties/index.vue'

const form = "New Form"
const description = "New Description"

const lst = ref(new Array())
function feature(item: any) {
    lst.value.push(item)
    console.log(lst.value)
}

// export default defineComponent({
//     setup() {
//         const form = "New Form"
//         const description = "New Description"

//         let lst = new Array

//         const feature = (item: any) => {
//             lst.push(item)
//             console.log(lst)
//         }

//         return {
//             form,
//             description,
//             lst,
//             feature
//         };
//     }
// });




</script>

<template >
    <div style="padding : 15px ">
        <v-card style="margin-top : 1px" elevation="4" class="rounded-lg">
            <v-container fluid>
                <v-row dense>
                    <v-col cols="89 text-right" style="padding : 1px">
                        <div class="col-8 text-left" style="padding : 7px">
                            <a style="font-size: 22px">{{ form }} <v-btn variant="flat"
                                    icon="mdi-pencil"></v-btn></a><br />
                            <a style=" font-size: 16px">{{ description }}</a>
                        </div>
                    </v-col>

                    <div class="col-6 text-right" style="margin-top : 22px">
                        <v-btn variant="flat" font-size="20" icon="mdi-eye"></v-btn> &nbsp;
                        <v-btn variant="flat" icon="mdi-content-save "></v-btn> &nbsp;
                        <v-btn color="primary" button style="margin-top : 7px">Publish</v-btn> &nbsp;
                        <v-btn variant="flat" icon="mdi-window-close"></v-btn>
                    </div>
                </v-row>
            </v-container>
        </v-card>
    </div>
    <!-- sd -->

    <v-container fluid style="margin-top: -16px;">
        <v-flex>
            <v-layout>
                <v-row dense>
                    <v-col cols="3" style="padding : 3px">
                        <Feature @feature="feature"></Feature>
                    </v-col>
                    <v-col cols="4" style="padding : 3px">
                        <Content v-bind:arr="lst"></Content>
                    </v-col>
                    <v-col cols="5" style="padding : 3px">
                        <Properties></Properties>
                    </v-col>
                </v-row>
            </v-layout>
        </v-flex>
    </v-container>
</template>

