<template>
  <v-app>
    <Header />
    <Form />
  </v-app>
</template>
  
<script setup lang="ts">
import Header from '@/screens/header/header.vue'
import Form from '@/screens/form/index.vue'
</script>
  