<script setup lang="ts">
import { ref } from "vue";

const alert = ref<boolean>(false)

</script>

<template>
    <v-row justify="center">
        <v-dialog v-model="alert" persistent max-width="290">
            <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on">
                    Open Dialog
                </v-btn>
            </template>
            <v-card>
                <v-card-title class="text-h5">
                    Use Google's location service?
                </v-card-title>
                <v-card-text>Let Google help apps determine location. This means sending anonymous location data to
                    Google, even when no apps are running.</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="alert = false">
                        Disagree
                    </v-btn>
                    <v-btn color="green darken-1" text @click="alert = false">
                        Agree
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>