<script setup lang="ts">
//
import { mergeProps } from 'vue'
import { ref, computed } from 'vue';
const user = "Username";

var items = [
  { title: 'PROFILE', icon: 'mdi-account-circle' },
  { title: 'LOGOUT', icon: 'mdi-login-variant' },
]

const props = defineProps({
  timeZone: {
    type: String,
  }
});

const currentDateTime = ref(new Date());
const displayTime = computed(() =>
  currentDateTime.value.toLocaleString('th-TH', {
    timeZone: props.timeZone,
  })
)

setInterval(() => {
  currentDateTime.value = new Date();
});

</script>



<template>

  <v-app-bar color="primary" density="comfortable" style="position:static">
    <template v-slot:prepend>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title>QA/QC System</v-app-bar-title>

    <template v-slot:append>
      <!-- <v-btn icon="mdi-login-variant"></v-btn> -->
      <div>
        <slot /> {{ displayTime }}
      </div>
      &nbsp;
      <div>
        <v-menu>
          <template v-slot:activator="{ props: menu }">
            <v-tooltip location="top">
              <template v-slot:activator="{ props: tooltip }">
                <v-btn icon v-bind="mergeProps(menu, tooltip)">
                  <v-avatar color="info" size="40"> <span class="text-h6">{{ user.charAt(0) }}</span> </v-avatar>
                </v-btn>
              </template>
              <span>{{ user }}</span>
            </v-tooltip>
          </template>
          <v-card class="mx-auto margin-left: 30px" max-width="300">
            <v-list density="compact">
              <v-list-subheader>{{ user }}</v-list-subheader>
              <v-list-item v-for="(item, i) in items" :key="i" :value="item" active-color="primary">
                <template v-slot:prepend>
                  <v-icon :icon="item.icon"></v-icon>
                </template>
                <v-list-item-title v-text="item.title"></v-list-item-title>
                <v-divider color="black"></v-divider>
              </v-list-item>
            </v-list>
          </v-card>
        </v-menu>
      </div>
    </template>
  </v-app-bar>
</template>


