<script setup lang="ts">
import { defineProps, ref, readonly } from "vue";
import Popup from '@/screens/form/dialog/index.vue'

const props = defineProps({
    arr: { type: Array as any, required: false, },
})

function deleteField(idx: number) {
    const fieldsArr = props.arr
    if (idx > -1) {
        fieldsArr.splice(idx, 1);
    }
}
</script>

<template>
    <!-- <Popup></Popup> -->
    <v-card elevation="4" class="rounded-lg scroll-y">
        <v-toolbar flat color="primary">
            <v-toolbar-title style="font-size: 22px">
                Content &nbsp; &nbsp; &nbsp; <v-btn icon="mdi-undo"></v-btn> <v-btn icon="mdi-redo"></v-btn>
            </v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <!-- // list -->
        <h1 v-if="props.arr.length = 0">empty!!</h1>
        <!-- <v-list dense>
            <v-list-item v-for="(item, i) in props.arr" :key="i" link>
                <v-row alignContent="center">
                    <v-divider></v-divider>
                    <v-col cols="1">
                        <v-icon icon="mdi-swap-vertical" variant="flat"></v-icon>
                    </v-col>
                    <v-divider vertical></v-divider>
                    <v-col cols="100">
                        <v-list-item>
                            <v-icon :icon="item.icon"></v-icon> &nbsp;{{ item.text }}
                        </v-list-item>
                    </v-col>
                    <v-divider vertical> <v-btn icon="mdi-delete" variant="flat"
                            @click="deleteField(i)"></v-btn></v-divider>
                    <v-col cols="2">
                        <v-btn icon="mdi-delete" variant="flat" @click="deleteField(i)"></v-btn>
                    </v-col>
                </v-row>
                <div style="margin-top:5px">
                    <v-divider></v-divider>
                </div>
            </v-list-item>
        </v-list> -->

        <v-list two-line>
            <draggable v-model="props.arr">
                <v-list dense>
                    <v-list-item v-for="(item, i) in props.arr" :key="i" link>
                        <v-row alignContent="center">
                            <v-divider></v-divider>
                            <v-col cols="1">
                                <v-icon icon="mdi-swap-vertical" variant="flat"></v-icon>
                            </v-col>
                            <v-divider vertical></v-divider>
                            <v-col cols="100">
                                <v-list-item>
                                    <v-icon :icon="item.icon"></v-icon> &nbsp;{{ item.text }}
                                </v-list-item>
                            </v-col>
                            <v-divider vertical> <v-btn icon="mdi-delete" variant="flat"
                                    @click="deleteField(i)"></v-btn></v-divider>
                            <v-col cols="2">
                                <v-btn icon="mdi-delete" variant="flat" @click="deleteField(i)"></v-btn>
                            </v-col>
                        </v-row>
                        <div style="margin-top:5px">
                            <v-divider></v-divider>
                        </div>
                    </v-list-item>
                </v-list>
            </draggable>
        </v-list>
    </v-card>
</template>






<!-- 
<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent max-width="290">
            <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on">
                    Open Dialog
                </v-btn>
            </template>
            <v-card>
                <v-card-title class="text-h5">
                    Use Google's location service?
                </v-card-title>
                <v-card-text>Let Google help apps determine location. This means sending anonymous location data to
                    Google, even when no apps are running.</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="dialog = false">
                        Disagree
                    </v-btn>
                    <v-btn color="green darken-1" text @click="dialog = false">
                        Agree
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template> -->
