<template>
  <v-app>
    <v-main>
      <AppRouter />
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import AppRouter from '@/routes/AppRouter.vue'
</script>

<style lang="css">
body {
  font-family: "Kanit";
}
</style>