<script setup lang="ts">


</script>

<template>

    <v-card elevation="4" class="rounded-lg scroll-y">
        <v-toolbar flat color="primary">
            <v-toolbar-title style="font-size: 22px">
                Properties
            </v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <!-- // list -->
        empty!!
        <!-- <v-list v-model:opened="texts">
            <v-list-group value="TEXT">
                <template v-slot:activator="{ props }">
                    <v-list-item v-bind="props" title="TEXT"></v-list-item>
                </template>
                <v-list-group value="Admin">
                    <template v-slot:activator="{ props }">
                        <v-list-item v-bind="props" title="Admin"></v-list-item>
                    </template>

                    <v-list-item v-for="([title, icon], i) in admins" :key="i" :title="title" :prepend-icon="icon"
                        :value="title"></v-list-item>
                </v-list-group>
            </v-list-group>
        </v-list> -->

    </v-card>

</template>

